{include file="publics/header" /}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" /> 
  <title>上传图片插件</title>
  <link href="_STATIC_/assets/fileupload/css/common.css" type="text/css" rel="stylesheet"/>
  <link href="_STATIC_/assets/fileupload/css/index.css" type="text/css" rel="stylesheet"/>

</head>
<body>
<form action="" method="post" enctype="multipart/form-data">   
  <div class="img-box full">
    <section class=" img-section">
      <p class="up-p">正面照与反面照&nbsp;&nbsp;(2张)：<span class="up-span">添加身份证</span></p >
      <div class="z_photo upimg-div clear" >
        {notempty name="card_photo"}
        {foreach name="card_photo" item="vo"}
        <section class="up-section fl ml"><span class="up-span"></span>
          <img class="close-upimg" src="_STATIC_/assets/fileupload/img/a7.png" >
          <p class="img-name-p">0A02279CA2246FCA967CCB29C78F18A4 - 副本.jpg</p >
          <img class="up-img" style="height: 100px; width: 100px;" type="loanContract_pic" src="_STATIC_/Upload/{$vo}" up_name="{$vo}" up_loanid={$loanid} up_field={$field} ><p class="img-name-p">0A02279CA2246FCA967CCB29C78F18A4 - 副本.jpg</p >
          <input id="taglocation" name="taglocation" value="" type="hidden">
          <input id="tags" name="tags" value="" type="hidden">
          <input type="text" style="display:none;" name="undefined" value="undefined"></section>
        {/foreach}
        {/notempty}
        <section class="z_file fl">
          <img src="_STATIC_/assets/fileupload/img/a11.png" class="add-img">
          <input type="file" name="file[]" id="file"  class="file" value="" accept="image/jpg,image/jpeg,image/png,image/bmp" multiple />
        </section>
      </div>
    </section>
  </div>
</form>
<aside class="mask works-mask">
  <div class="mask-content">
    <p class="del-p ">您确定要删除作品图片吗？</p>
    <p class="check-p"><span class="del-com wsdel-ok">确定</span><span class="wsdel-no">取消</span></p>
  </div>
</aside>

<script src="_STATIC_/assets/fileupload/js/jquery.js"></script>
<!--<script src="js/imgUp.js"></script>-->
<script src="_STATIC_/assets/fileupload/js/imgPlugin.js"></script>
<script type="text/javascript">
    $(function(){
        var value = $("input[name='file']").attr("addid");
        var imgpath = "{_STATIC_}"+'/Upload/';
        //alert(imgpath);
        $("#file").takungaeImgup({  
            formData: {
                "path": imgpath,
                "lid":{$lid},
                "field":'card_photo',
                "name": ''
            },
            url:"{:url('/Image/addPhoto')}",
            success: function(data) {
                //alert(1);
            },
            error: function(err) {
                alert(err);
            }
        });
    })
</script>
</body>
</html>

{include file="publics/footer" /}