@charset "utf-8";
.maxDiv{width:100%;height:100%; bgcolor:#efefef}
.headers{width:100%;height:6.4%;position:relative;left:0%;top:0%;overflow: hidden;background-color:#5495e6;}

.headers .retrunImg{width:3.2%;height:46.6%;position:absolute;left:3.2%;top:25%;}

.fhwz{position:absolute;left:8.5%;top:30%;color:white; font-family:ו;line-height:100%;}
.zxwx{position:absolute;left:41.3%;top:30%;color:white; font-family:ו;line-height:100%;}

.centerDiv{width:100%; height:55.9%; position:relative;top:0%;left:0%;right:3.2%; overflow: hidden;background-color:#efefef;}
.picture1Img{width:30%;height:30.2%;position:absolute;left:3.2%;top:2.8%;}
.picture2Img{width:30%;height:30.2%;position:absolute;left:34.6%;top:2.8%;}
.picture3Img{width:30%;height:30.2%;position:absolute;left:66%;top:2.8%;}
.picture4Img{width:30%;height:30.2%;position:absolute;left:3.2%;top:35.8%;}
.picture5Img{width:30%;height:30.2%;position:absolute;left:34.6%;top:35.8%;}
.picture6Img{width:30%;height:30.2%;position:absolute;left:66%;top:35.8%;}
.picture7Img{width:30%;height:30.2%;position:absolute;left:3.2%;top:68.4%;}
.picture8Img{width:30%;height:30.2%;position:absolute;left:34.6%;top:68.4%;}
.picture9Img{width:30%;height:30.2%;position:absolute;left:66%;top:68.4%;}



