{include file='publics/header'}
<style type="text/css">
.list-btn{width: 80px;height: 25px;line-height: 25px;border:1px solid #ccc;text-align: center;border-radius: 5px;letter-spacing: 5px;cursor: pointer;background: #f4f4f4;}
.list-btn:hover{background: #ddd}
.list{position: absolute;display: none;background: #f4f4f4;width: 80px;border:1px solid #ccc;border-radius: 5px;}
.list ul{list-style: none;margin: 5px auto;}
.list ul li{width: 80px;text-align: center;margin-bottom: 5px;}
.list ul a{width: 80px;text-align: center;display: inline-block;height: 25px;}
.list ul a:hover{background: #ddd;height: 25px;}
</style>
<script type="text/javascript">
$(function () {
  $(".list-btn").click(function () {
    // var text = ($(this).html() == '查看')?'隐藏':'查看';
    // $(this).html(text);
    $(".list").stop().slideUp(10);
    $(this).next(".list").stop().slideToggle();
  })
})
</script>
<form class="form-inline definewidth m20" action="/Storesystem/submitList.html" method="get">  
    <button type="button" class="btn btn-success" onclick="javascript:window.location.href='/Storesystem/applyTable.html'">新增订单</button>
    <a href=''>还款计划</a>&nbsp;&nbsp;
    <a href=''>征信系统</a>
    <select name="k" class="short">
      {foreach name="key" item='v' key='k'}
        <option value="{$k}" {eq name="_GET['key']" value="$k" }selected="selected"{/eq}>{$v}</option>
      {/foreach}
    </select>
    <input type="text" name="v" class="abc input-default" value="{:request()->get('v')}">&nbsp;&nbsp;
    开始时间：
    <input type="text" name="starttime" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" value="{:request()->get('starttime')}">
    结束时间：
    <input type="text" name="endtime" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" value="{:request()->get('endtime')}">
    <button type="submit" class="btn btn-primary">查询</button>&nbsp;&nbsp; 
</form>
<table class="table table-bordered table-hover definewidth m10">
    <thead>
        <tr>
           {volist name="title" id="vo"}
              <th>{$vo}</th>
           {/volist}
        </tr>
    </thead>
    <tbody>
      {volist name="list" id="v"}
      <tr>
        {foreach name="title" item="tv" key="k"}
          {if condition="$k eq 'operate'"}
          <td>
            {foreach name="v[$k]" item="ov" key="ok"}
              <a onclick="operate('{$ok}',{$v['other']['id']});">{$ov}</a>
            {/foreach}
          </td>
          {else /}
            <td>{$v[$k]}</td>
          {/if}  
        {/foreach}
      </tr>
      {/volist}
    </tbody>
</table>
<div>{$page}</div>
<script type="text/javascript">
var operate = function (type,id)
{
  if (type == '') return false;
  if (id == '') return top.jdbox.alert(0,"订单ID不能为空");
  var fun = type + "(" + id + ")";
  eval(fun);
}
var edit = function (id)
{
  window.location.href="/Showphotos/index.html?loanid="+id;
}
var complete = function (id)
{
  window.location.href = "/Storesystem/loanTable.html?loanid=" + id;
}
var refuse = function (id)
{
  if (!confirm("是否确定拒单"))return false;
  top.jdbox.alert(2);
  $.post("{:url('/Storesystem/refuse')}",{"is_refuse":1,"loanid":id},function (F) {
      top.jdbox.alert(F.status,F.info);
      if (F.status) {
        window.location.reload();
      }
  },'json')
}
</script>
{include file='publics/footer'}