.bodydiv .bimg01{background:url(../image/invite/ay01.jpg) no-repeat center top;height:214px;}
.bodydiv .bimg02{background:url(../image/invite/ay02.jpg) no-repeat center top;height:328px;}
.bodydiv .bimg03{background:url(../image/invite/ay03.jpg) no-repeat center top;height:451px;}
.wesay{width:905px; height:290px; margin:0 auto; padding-top:144px; font-size:24px;}
.wesay p{width:100%; height:33px; color:#9c5b2c; line-height:33px;}
.bodydiv .bimg04{background:url(../image/invite/ay04.jpg) no-repeat center top;height:295px;}
.tuijian{width:940px; height:78px; font-size:24px; margin:0 auto; padding-top:250px;}
.tuijian p{line-height:30px;}
.bodydiv .bimg05{background:url(../image/invite/ay05.jpg) no-repeat center top;height:238px;}
.bodydiv .bimg06{background:url(../image/invite/ay06.jpg) no-repeat center top;height:265px;}
.bodydiv .bimg07{background:url(../image/invite/ay07.jpg) no-repeat center top;height:391px;}
.copydiv{width:1100px; height:78px; font-size:24px; margin:0 auto; padding-top:20px;}
.copydiv .content{width:340px; float:right; padding-right:80px;}
.copydiv p{line-height:30px;}
.bodydiv .bimg08{background:url(../image/invite/ay08.jpg) no-repeat center top;height:418px;}
.wxcm{width:1058px; height:80px; font-size:24px; margin:0 auto; padding-top:288px;}
.wxcm p{line-height:30px;}
.bodydiv .bimg09{background:url(../image/invite/ay09.jpg) no-repeat center top;height:238px;}
.bodydiv .bimg10{background:url(../image/invite/ay10.jpg) no-repeat center top;height:328px;}
.shuoming{width:1007px; height:auto; margin:0 auto; font-size:24px; padding-top:74px;}
.shuoming p{ line-height:47px;}