.bodysDiv .bannerDiv{height:550px;width:100%;margin:0 auto;}
.pk_bannerDivImg{width:100%;height:550px;text-align:center;}
.bodysDiv .pk_oneDiv{height:538px;margin-top:20px;}
.pk_oneDiv_content{width:1100px;height:520px;margin:0 auto;}
.pk_oneDiv_header_o1{width:1100px;height:140px;}
.pk_ondiv_content_sz{width:90px;height:90px;margin-top:30px;line-height:80px;float: left;}
.pk_ondiv_content_zxcf{font-size:48px;color:#323232;font-family:微软雅黑;width:500px;margin-left:130px;height:100px;line-height:140px;}
.pk_ondiv_content_js{font-size:28px;margin-left:130px;margin-top:22px;color:#4893e1;font-family:微软雅黑;line-height:36px;}
.pk_mswz_left{width:820px;height:230px;float:left;}
.pk_lhxy{font-size:23px;margin-top:85px;margin-left:130px;color:#6e6e6e;font-family:微软雅黑;}
.pk_oneDiv_center_bz{width:660px;height:200px;margin-left:130px;}
.pk_yzdkw{font-size:23px;color:#6e6e6e;font-family:微软雅黑;line-height:42px;width:285px;float:left;}
.pk_car{font-size:36px;color:#323232;font-family:微软雅黑;}
.carImg{width:95px;height:42px;}
.pk_jktsm{width:660px;height:200px;font-size:23px;color:#6e6e6e;font-family:微软雅黑;line-height:35px;float:left;}
.pk_mswz_right{width:270px;height:280px;float:left;background:url(../image/pk/icon1.jpg) no-repeat;margin-top:80px;}
.pk_ondiv_content_so{font-size:23px;color:#4893e1;font-family:微软雅黑;}
.pk_twoDiv{height:1610px;background:#edf2f8;}
.pk_twoDiv_centener{width:1100px;height:1500px;margin:0 auto;margin-top:20px;}
.pk_aqbz{width:1000px;line-height:50px;height:120px;}
.pk_twodiv_content_sz{width:90px;height:90px;margin-top:50px;float:left;}
.pk_twodiv_content_sdbz{font-size:48px;margin-left:130px;color:#323232;font-family:微软雅黑;line-height:30px;width:720px;height:120px;line-height:190px;}
.pk_twoDiv .tableImg{width:960px;height:450px;margin-left:130px;margin-top:45px;background:url(../image/pk/table.png) no-repeat center top;}
.pk_twoDivwz_center_content{width:960px;height:320px;margin-left:130px;margin-top:35px;}
.pk_twoDivwz_center_content_left{width:660px;height:320px;float:left;}
.pk_twoDivwz_center_content_right{width:300px;height:270px;margin-top:40px;float:left;background:url(../image/pk/icon2.jpg);}
.pk_wz_db{font-size: 28px;font-family:微软雅黑;color:#2f2f2f;}
.pk_bxdb{font-size:28px;font-family: 微软雅黑;color: #4893e1;line-height:30px;}
.pk_wz_qustion{font-size:24px;font-family:微软雅黑;color: #6e6e6e;line-height:44px;margin-top:8px;}
.pk_wz_jkrbhq{font-size:24px;font-family: 微软雅黑;color: #6e6e6e;line-height:35px;}
.pk_wz_ptpl{font-size:24px;font-family: 微软雅黑;color: #6e6e6e;line-height:35px;}
.pk_wz_da_Div{width:660px;height:160px;}
.pk_wz_da{font-size:30px;font-family:微软雅黑;color: #4893e1;line-height:38px;float:left;}
.pk_wz_daan{font-size:23px;font-family: 微软雅黑;color: #6e6e6e;line-height:38px;}
.pk_wz_xm{font-size:23px;font-family: 微软雅黑;color: #4893e1;}
.pk_buttom_gps{width:960px;height:500px;margin-top:60px;}
.pk_buttom_gps_title{font-size:28px;font-family: 黑体;color: #2f2f2f;}
.pk_sayCar{font-size:23.9px;font-family:微软雅黑;color: #6e6e6e;line-height:50px;}
.pk_buttom_gps_Img{width:960px;height:450px;}
.computerImg{width:950px;height:445px;}
.pk_threeDiv{height:710px;margin-top:50px;}
.pk_threeDiv_top{width:1100px;height:150px;margin:0 auto;}
.pk_threeDiv_content_sz{width:90px;height:90px;float:left;}
.pk_three_wz_right{margin-top:12px;width:900px;height:100px;float:left;}
.pk_threediv_content_zxsy{font-size:60px;margin-left:30px;color:#323232;font-family:微软雅黑;line-height:55px;}
.pk_threediv_content_qb{font-size:28.01px;color:#2f2f2f;margin-left:12px;line-height:60px;font-family:微软雅黑;}
.pk_under_ImgDiv{width:1100px;height:550px;margin:0 auto;}
.pk_under_ImgDivs{width:1050px;height:540px;}
.pk_freeRegistBtnDiv{height:200px;margin:0 auto;background:white;}
.pk_btnDiv{width:700px;height:180px;margin:0 auto;}
.registImg{width:550px;height:120px;background:url(../image/pk/regist.jpg) repeat center center;margin-top:42px;margin-left:50px;cursor:pointer;border:none;}



