@charset "utf-8";
body,div,img,input{margin:0 auto;padding: 0;}
body{text-align: center;}
input:focus {outline:none;}
input:focus {color:black;}
input{color:#dbdbdb;}

.headers{width:100%;height:6.8%;position:fixed;left:0;top:0;background-color:#5495e6;z-index: 10;}
.headers .retrunImg{width:3.2%;height:46.6%;position:absolute;left:6%;top:25%;}
.headers .fhwz{width:auto;height:auto;position:absolute;left:9.5%;top:28%;color:white;}
.headers .zxwx{width:auto;height:auto;position:absolute;left:41.3%;top:34%;color:white;}

.topDiv{width:100%; height:21.63%;position:absolute;left:0%;background: #fff;top:6.8%;}
.succWz{width:100%;text-align:center;height:auto;top:26%;position: absolute;font-weight:800;color:#5495e6;}
.desinfo{width:100%;text-align:center;height:auto;top:60.7%;position: absolute;font-weight:500;}

.contentDiv{width:100%; height:100%;position:absolute;left:0%;top:31.3%;}
.oneDiv{width:100%;height:8%;position: relative;background: #fff;}
.leftwords{width:30%;height:100%;top:30%;position:absolute;left:6%;text-align:left;}
.rightwords{width:55%;height:100%;top:30%;position:absolute;left:35%;text-align:right;}
.colornum{color:#5495e6;font-weight:500;}
.desinfos{width:100%;text-align:center;height:auto;top:40%;position: absolute;font-weight:500;}

.footDiv{width:100%;height:14%;position:absolute;top:120%;left:0;z-index:100;}
.wordsWz{width:100%;text-align:center;height:auto;top:29%;left:0;position: absolute;font-weight:500;}
.wordsCWz{width:100%;text-align:center;height:auto;top:55%;left:0;position: absolute;font-weight:500;color:#5495e6;}
a{color:#5495e6;}

