.rec_t{width:auto;}
.ba_min_nav{height:40px;box-sizing:border-box;border-bottom:1px #c9c9c9 solid;}
.ba_min_nav>li{float:left;width:99px;height:38px;line-height:38px;border-top:2px #fff solid;text-align:center;cursor:pointer;position:relative;+bottom:-1px;}
.ba_min_nav>li>a{text-decoration:none;display:block;color:#0f0e0e;}
.ba_min_nav>li~li{margin-left:0;}
.ba_min_nav>li.now{border-top-color:#ea5413;font-weight:bold;border-left:1px #c9c9c9 solid;border-right:1px #c9c9c9 solid;background:#fff;}
.pwd_b{padding-left:101px;font-size:12px;}
.pwd_ul{margin:33px 0 53px;}
.pwd_ul>li{line-height:32px;height:32px;margin-bottom:13px;}
.pwd_ul>li .pwd_sp_l{display:block;width:95px;height:32px;float:left;text-align:right;}
.pwd_ul>li .pwd_sp_l>em{color:#cf4040;}
.pwd_ul>li input{width:240px;height:30px;border:1px #c9c9c9 solid;text-indent:8px;vertical-align:middle;font-size:12px;}
.pwd_ul>li.pwd_last{margin:0;padding-top:15px;height:33px;line-height:33px;}
.pwd_ul>li .button{width:115px;height:33px;line-height:33px;text-align:center;color:#fff;background:#e7662e;border:none;border-radius:3px;}
.pwd_ul>li .button:hover{background:#ea5413;}
.pwd_b_b{margin-top:53px;padding-top:12px;border-top:1px #e0e0e0 solid;}
.pwd_b_b p{font-size:12px;padding-left:20px;}
.pwd_ul>li .imgcode{width:91px;height:32px;vertical-align:middle;margin:0 7px;}
.pwd_ul>li .imgcodebtn{display:inline-block;width:20px;height:32px;line-height:28px;vertical-align:middle;background:url(../image/rech_re.png) no-repeat center center;}
.pwd_ul>li .getpaypwd{color:#e7662e;margin-left:12px;}
.pwd_ul>li .get_btn{width:91px;height:32px;color:#fff;text-align:center;line-height:32px;margin-left:7px;background:#236ac9;border:none;vertical-align:middle;font-size:12px;}
.pwd_ul>li .get_btn:hover{background:#2a7bc9;}

.pwd_h5{font-size:24px;font-family:"微软雅黑";}
.reg_prog{width:906px;height:70px;margin:0 auto;overflow:hidden;}
.reg_prog>li{background:#cdcdcd;height:7px;width:302px;float:left;margin-top:18px;}
.reg_prog>li>span{display:block;background:#cdcdcd;width:38px;height:38px;margin:-18px auto 0;text-align:center;color:#fff;border-radius:100%;font:18px/38px arial;}
.reg_prog>li.reg_curr{background:#a47849;}
.reg_prog>li.reg_curr>span{background:#a47849;}
.reg_prog>li>p{text-align:center;line-height:35px;color:#a8a8a8;}
.reg_prog>li.reg_curr>p{color:#a47849;}
.for_prog{width:604px;margin-top:20px;}
.for_prog>li{height:6px;}
.for_prog>li>span{width:27px;height:27px;line-height:27px;margin-top:-11px;font-family:"宋体";}
.for_prog>li.reg_curr{background:#a97502;}
.for_prog>li.reg_curr>span{background:#a97502;}
.for_prog>li.reg_curr>p{color:#a97502;}

.for_b_la{margin-top:50px;}
.for_b_la .p_finish{font:24px/50px "微软雅黑";text-align:center;margin:0 auto;}
.for_b_la .p_finish>img{width:26px;height:26px;vertical-align:text-bottom;margin-right:15px;}
.for_b_la .for_p_b{text-align:center;font-size:12px;line-height:40px;margin-top:70px;}
.for_b_la .for_ck{display:block;width:115px;height:33px;background:#a97502;text-align:center;line-height:33px;color:#fff;text-decoration:none;border-radius:3px;margin:0 auto;}
.for_b_la .for_ck:hover{background:#ba8613;}